.task {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
}

.task-text {
    width: 88%;
    text-align: start;
    color: #595959;
}

.task-delete-btn {
    width: 10%;
    padding: 5px 10px;
    color: white;
    background-color: #f26464;
    border: none;
    border-radius: 3px;
}